@import 'custom.scss';

.App {
  text-align: start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.walkBox {
  background-image: linear-gradient(#1e1e1e, #282c34);
  border-color: #000;
}

.inbound-box {
  position: relative;
  margin-top: 50px;
  padding-right: 30px;
  border-right: #282c34 solid 4px;

  .header {
    vertical-align: middle;
    font-size: 150%;
    color: $secondary;
    padding: 20px 0px;
  }
}

.outbound-box {
  position: relative;
  margin-top: 50px;
  padding-left: 30px;
  border-left: #282c34 solid 4px;

  .header {
    vertical-align: middle;
    font-size: 150%;
    color: $secondary;
    padding: 20px 0px;
  }
}

.picker-box {
  padding: 0px 10px;
}

.walkRelationship {
  .arrow {
    vertical-align: middle;
    font-size: 40px;
  }
}

.NodeStepperRelBox {
  &:hover {
    cursor: pointer;
    outline-color: #61dafb;
    outline-style: solid;
    outline-width: 3px;
  }
}

.NodeStepperValBox {
  &:hover {
    cursor: pointer;
    outline-color: #61dafb;
    outline-style: solid;
    outline-width: 3px;
  }
}

.QueryBoxesWrapper {
  padding: 50px 0px;
  color: #6b6b6b;
}

.QueryStringBox {
  background-color: #1e1e1e;

  margin-top: 10px;
  font-size: 60%;
}

.NodeStepperPropsSelectedBox {
  padding: 10px 0px;
}